{
    "presets": [
        "react",
        ["es2015", { "modules": false}]
    ],
    "plugins": ["react-hot-loader/babel"],

    "env": {
        "devserver": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}