.main {
  border: none;
  font-weight: bold;
  background: transparent;
  border-radius: 4px;
  font: inherit;
  color: white;

  .infoContainer {
    text-align: center;
    width: 100%;
    font-size: 72px;
    margin: 24px 0;
  }
  .desc {
    width: 100%;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 4px;
  }
}
