.main {
  position: absolute;
  top: 12;
  right: 12;

  &.expanded {
    background: rgba(0, 0, 0, 0.5);
    width: 60px;
    border-radius: 4px;
    padding: 4px;
  }
  .hidden {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 4px 0;
    display: inline-block;
  }

  a {
    color: white;
    text-decoration: none;

    &:visited{
      color: white;
      text-decoration: none;
    }
  }

  button.expand {
    opacity: 0.2;
    background: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 40px;
    text-align: center;
  }

  button.close {
    border: none;
    padding: 0;
    background: transparent;
    color: white;
    font-family: roboto;
  }
}
