.main {
  position: absolute;
  top: 12;
  right: 12;

  &.expanded {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
  }
  .hidden {
    display: none;
  }

  li {
    margin: 12px;
    display: inline-block;
  }

  a {
    color: white;
      text-decoration: none;

    &:visited{
      color: white;
      text-decoration: none;
    }
  }

  button.expand {
    opacity: 0.2;
    background: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 40px;
    text-align: center;
  }
}
